
.use-keyboard-input {
    display: block;
    width: 90%;
    margin: 30px auto;
    padding: 10px;
    font-size: 20px;
    height: calc(100vh - 380px);
    min-height: 300px;
  }
  .use-keyboard-input:focus {
    outline: none;
  }
  .keyboard {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    background: #e8e8e8;
    box-shadow: 0 0px 20px 0px rgb(0 0 0 / 26%);
    user-select: none;
    transition: bottom 0.4s;
    justify-content: center;
    display: flex;
  }
  .keyboard--hidden {
    bottom: -100%;
  }
  
  .keyboard__keys {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
  }
  .keyboard__key {
    display: flex;
  align-items: center;
  height: 45px;
  width: 5%;
  max-width: 90px;
    margin: 3px;
    border-radius: 3px;
    border: none;
    background-color: white;
    color: black;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow:
		-0.2em -0.125em 0.125em rgba(0, 0, 0, 0.25), 
		0 0 0 0.04em rgba(0, 0, 0, 0.3), 
		0.02em 0.02em 0.02em rgba(0, 0, 0, 0.4) inset, 
		-0.05em -0.05em 0.02em rgba(255, 255, 255, 0.8) inset;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    flex:1 1 4%;
  }
  
  .keyboard__key--wide {
    flex:2 2 10%;
    background-color: rgb(216, 216, 216);

}
.keyboard__key--extra-wide {
  flex: 3 3 11%;
  max-width: 500px;
  background-color: rgb(216, 216, 216);
}
 
  .keyboard__key:active {
    /* box-shadow: 1px 1px 1px gray, -1px -1px 2px black; */
    /* background: rgba(255, 255, 255, 0.12); */
    transform: scale(0.8);
    transition: .1s;
    box-shadow:
		0.1em 0.1em 0.1em rgba(0, 0, 0, 0.2),
		0 0 0 0.05em rgba(0, 0, 0, 0.4), 
		-0.025em -0.05em 0.025em rgba(255, 255, 255, 0.8) inset;

  }
  
 
  
 
  
  .keyboard__key--activatable::after {
    content: '';
    bottom: 5px;
    left: 10px;
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
  }
  .keyboard__key--active {
    background-color: rgb(174, 184, 192);
  }
  .keyboard__key--active::after {
    background: #08ff00;
  }
  
  .keyboard__key--dark {
    background-color:rgb(216, 216, 216);
  }
  .test1 {
    background: rgba(255, 255, 255, 0.12);
  }
 

  .test{
    transform: scale(0.8);
    transition: .1s;
    box-shadow:
		0.1em 0.1em 0.1em rgba(0, 0, 0, 0.2),
		0 0 0 0.05em rgba(0, 0, 0, 0.4), 
		-0.025em -0.05em 0.025em rgba(255, 255, 255, 0.8) inset;

    transform: scale(0.8);
    transition: .1s;
  }
  .break {
    flex-basis: 100%;
  }
  @media (max-width: 700px) {
   
  }