* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.title {
  color: white;
  width: 98%;
  height: 4.4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #222;
  border: 1px solid #363636;
  align-self: center;
  font-family: sans-serif;
  font-size: 2.5rem;
  margin: 1rem 0rem;
}
.footer {
  position: absolute;
  bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: #79796f;
}
.footer > p:hover {
  cursor: pointer;
  transition: 0.4s;
  transform: scale(1.02);
}
.footer > a {
  font: normal normal 1.4rem/130% Arial, sans-serif;
  text-decoration: none;
  color: white;
}

.footer > a:hover {
  transition: 0.3s;
  transform: scale(1.08);
}

.container {
  width: 100%;
  background-color: black;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100rem;
}

.container-column {
  width: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 60%;
  justify-content: space-between;
}

.list-main-container {
  position: relative;
  width: 20%;
  background-position: top;
}
.map-container {
  width: 50%;
}

.chart-main-container {
  position: relative;
  width: 100%;
  height: 48%;
}

@media screen and (min-width:900px) and (max-width:1349px) {
  .container {
    justify-content: space-evenly;
  }
  .container-column {
    order: 3;
    width: 94%;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 3rem;
    margin-top: 2rem;
  }
  #covidMap {
    height: 100% !important;

  }
  .list-main-container {
    order: 1;
    width: 35%;
    height: 33%;
    margin-left: 1rem;
    background-position: center !important;
  }
  .list-container {
    height: 100%;
    width: 100%;
  }
  .map-container {
    order:2;
    max-width: 500px;
    height: 33%;
    margin-right: 5rem;
  }
  .table-container {
    width: 38% !important;
  }
  .table-component {
    width: 100% !important;
  }
  .table-box {
    width: 100% !important;
    height: 34rem !important;
  }
  .covid-table {
    width: 100% !important;
  }
  .chart-main-container {
    width: 50%;
  }
}

@media screen and (min-width:320px) and (max-width:899px) {
  .container {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }
  .title > p {
    font-size: 1.4rem;
  }
  .title > a {
    font-size: 1rem;
  }
  .container-column {
    order: 3;
    width: 98%;
    margin-bottom: 1rem;
    height: 71rem;
    justify-content: space-evenly;
  }
  .table-container {
    width: 100%;
  }
  .table-cobponent {
    width: 100%;
  }
  .table-box {
    width: 100%;
  }
  .covid-table {
    width: 100%;
  }
  .list-main-container {
    order: 1;
    height: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }
  .popup-table {
    top: 0;
  }
  .list-container {
    width: 100%;
  }
  .map-container {
    order: 2;
    width: 95%;
    height: 26rem;
  }
#covidMap {
  height: 100% !important;
}
.popup-map,
.popup  {
  top: 0;
}
  .title{
    font-size: 1.9rem;
    text-align: center;
  }
}

.body-scroll {
  overflow: hidden;
}
